* {
  box-sizing: border-box;
}

/* board */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.board__box {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}
